<launch>
    <node name="teleop_twist_keyboard" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" output="screen">
        <remap from="cmd_vel" to="cmd_step" />
        <param name="_speed" value="6.0" type="double" />
        <param name="_turn" value="1.0" type="double" />
    </node>

    <node name="demo_node" pkg="demo" type="demo.py" output="screen" />
</launch>