<!DOCTYPE html>
<html>
<head>
    <title>Web Page Controlled Stepper</title>
</head>
<style>
    input[type=text] { text-align: center }
</style>
<body>

<h3>TIMELAPSE SETUP</h3>

<form action="/timelapse" method="POST">
    <label> Record Time <input type="text" id="record_time" name="record_time" value="10" maxlength="4" size="4"> mins </label>
    <br><br>
    
    <label> Play Time <input type="text" id="play_time" name="play_time" value="5" maxlength="6" size="6"> secs </label>
    <br><br>

    <label> FPS <input type="text" id="fps" name="fps" value="2" maxlength="2" size="4"> fps </label>
    <br><br>
    
    <label> Angle <input type="text" id="angle" name="angle" value="180" size="5"> degree </label>
    <br><br>

    <label><input type="radio" name="direction" value="True" checked> CW </label>
    <label><input type="radio" name="direction" value="False"> CCW </label>
    <br><br>

    <input type="submit" value="Submit">
</form> 

</body>
</html>
